@media screen and (max-width :2000px){
    .signup{
    height: 40vh;
    /* border: solid 2px red; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.subscribe{
    /* border: solid 2px red; */
    position: absolute;
    margin-left: 10%;
    width: 50vw;
    height: 20vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}
image{
    position: relative;
}
button{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 10vw;
}
}
