@media screen and (max-width :2000px){
    .container{
    display: grid;
   

}
.tablo{
 /* background-color: red; */
 height: 90vh;
    
    border: 1px;
    overflow-y: scroll;
    margin-top: 10%;
    width: 75vw;
    
}
td {
 border: 2px solid black;
 height: 8vh;
 width: 13vw;
 /* background-color: red; */

}
.action{
     width: 18vw;
   
}
.iconList1{
    margin-left: 25px;
    font-size: 1.5rem;
}
}